 @using Example.Localization.Emails @model Example.BL.Common.Notifications.Mailer.Models.EmailData @{ string baseUrl = Example.BL.Common.Notifications.UrlBuilder.GetBaseUrl(); }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; box-sizing: border-box; font-size: 14px;">

<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>&#x41F;&#x440;&#x438;&#x43C;&#x435;&#x440;</title>
  <style media="all" type="text/css">
    @media only screen and (max-width: 640px) {
      body {
        padding: 0 !important;
      }
      h1,
      h2,
      h3,
      h4 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }
      h1 {
        font-size: 22px !important;
      }
      h2 {
        font-size: 18px !important;
      }
      h3 {
        font-size: 16px !important;
      }
      .container {
        padding: 0 !important;
        width: 100% !important;
      }
      .content {
        padding: 0 !important;
      }
      .content-wrap {
        padding: 10px !important;
      }
      .invoice {
        width: 100% !important;
      }
    }
  </style>
</head>

<body itemscope="" itemtype="http://schema.org/EmailMessage" style="margin: 0; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; line-height: 1.6em; background-color: #f6f6f6; width: 100%;">

  <table class="body-wrap" style="margin: 0; box-sizing: border-box; font-size: 14px; background-color: #f6f6f6; width: 100%;">
    <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
      <td style="margin: 0; box-sizing: border-box; font-size: 14px; vertical-align: top;"></td>
      <td class="container" width="600" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0 auto; display: block; max-width: 600px; clear: both;">
        <div class="content" style="box-sizing: border-box; font-size: 14px; margin: 0 auto; max-width: 600px; display: block; padding: 20px;">
          <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/ConfirmAction" style="margin: 0; box-sizing: border-box; font-size: 14px; background-color: #fff; border: 1px solid #e9e9e9; border-radius: 3px;">
            <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
              <td class="content-wrap" style="margin: 0; box-sizing: border-box; font-size: 14px; vertical-align: top; padding: 20px;">
                <meta itemprop="name" content="Confirm Email">
                <table width="100%" cellpadding="0" cellspacing="0" style="margin: 0; box-sizing: border-box; font-size: 14px;">
                  <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
                    <td class="content-block" style="margin: 0; box-sizing: border-box; font-size: 14px; vertical-align: top; padding: 0 0 20px;">
                      @Model.Message
                    </td>
                  </tr>
                  <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
                    <td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler" style="margin: 0; box-sizing: border-box; font-size: 14px; vertical-align: top; padding: 0 0 20px;">
                      <a href="#" class="btn-primary" itemprop="url" style="margin: 0; font-size: 14px; box-sizing: border-box; color: #FFF; text-decoration: none; background-color: #348eda; border: solid #348eda; text-transform: capitalize; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; border-width: 10px 20px;">OK</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="footer" style="margin: 0; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; padding: 20px;">
            <table width="100%" style="margin: 0; box-sizing: border-box; font-size: 14px;">
              <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
                <td class="aligncenter content-block" style="margin: 0; box-sizing: border-box; vertical-align: top; padding: 0 0 20px; text-align: center; font-size: 12px; color: #999;">Follow <a href="http://twitter.com/twitter" style="margin: 0; box-sizing: border-box; text-decoration: underline; font-size: 12px; color: #999;">@twitter</a> on Twitter.</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td style="margin: 0; box-sizing: border-box; font-size: 14px; vertical-align: top;"></td>
    </tr>
  </table>

</body>

</html>