 @using Example.Localization.Emails @model Example.BL.Common.Notifications.Mailer.Models.EmailData @{ string baseUrl = Example.BL.Common.Notifications.UrlBuilder.GetBaseUrl(); }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; box-sizing: border-box; font-size: 14px;">

<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>&#x41F;&#x440;&#x438;&#x43C;&#x435;&#x440;</title>
  <style media="all" type="text/css">
    @media only screen and (max-width: 640px) {
      body {
        padding: 0 !important;
      }
      h1,
      h2,
      h3,
      h4 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }
      h1 {
        font-size: 22px !important;
      }
      h2 {
        font-size: 18px !important;
      }
      h3 {
        font-size: 16px !important;
      }
      .container {
        padding: 0 !important;
        width: 100% !important;
      }
      .content {
        padding: 0 !important;
      }
      .content-wrap {
        padding: 10px !important;
      }
      .invoice {
        width: 100% !important;
      }
    }
  </style>
</head>

<body style="margin: 0; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; line-height: 1.6em; background-color: #f6f6f6; width: 100%;">

  <table class="row body-wrap" style="margin: 0; box-sizing: border-box; font-size: 14px; background-color: #f6f6f6; width: 100%;">
    <tbody style="margin: 0; box-sizing: border-box; font-size: 14px;">
      <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
        <table class="row container" style="box-sizing: border-box; font-size: 14px; margin: 0 auto; display: block; max-width: 600px; clear: both;">
          <tbody style="margin: 0; box-sizing: border-box; font-size: 14px;">
            <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
              <th class="first" style="margin: 0; box-sizing: border-box; font-size: 14px; margin-top: 0;">
                <table style="margin: 0; box-sizing: border-box; font-size: 14px;">
                  <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
                    <th style="margin: 0; box-sizing: border-box; font-size: 14px;">Hello</th>
                  </tr>
                </table>
              </th>
              <th class="last" style="margin: 0; box-sizing: border-box; font-size: 14px; margin-bottom: 0;">
                <table style="margin: 0; box-sizing: border-box; font-size: 14px;">
                  <tr style="margin: 0; box-sizing: border-box; font-size: 14px;">
                    <th style="margin: 0; box-sizing: border-box; font-size: 14px;">World</th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
      </tr>
    </tbody>
  </table>

</body>

</html>